body.dark {
    background-color: #36393e;
    color: #afb0b1;

    a {
        color: #375a7f;
    }

    .btn-primary {
        background-color: #375a7f;
        border-color: #375a7f;
    }

    .btn-default {
        background-color: #2b2a2a;
        border-color: #242424;
        color: #FFF;
    }

    .btn-danger {
        background-color: #E74C3C;
        border-color: #E74C3C;
    }

    // Chat
    .message {
        border-bottom: 1px solid #46494d;
    }

    .message-partner:before {
        color: #FFF;
    }

    .message-user:before {
        color: #FFF;
    }

    .message-system {
        color: #FFF;
    }

    // Selects

    .ts-wrapper.multi .ts-control .item,
    .ts-dropdown-content .selected,
    .ts-dropdown-content .active,
    .ts-dropdown .option:hover {
        background-color: #375a7f;
        color: #FFF;
    }

    .ts-dropdown-content,
    .ts-control .item {
        color: #FFF;
    }

    .ts-wrapper.single.input-active .ts-control,
    .ts-control,
    .form-control,
    .ts-dropdown {
        background-color: #26272b;
        border-color: #222327;
    }

    .form-control {
        color: #FFF;
    }

    // Sidebar
    .logo {
        border-color: #232529;
    }

    // Desktop
    @media (min-width: 768px) {
        .sidebar {
            background-color: #2f3136;
        }
    }

    .navbar {
        border-color: #232529;
    }
}