<!DOCTYPE html>
<html class="no-js" lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Yiff Spot allows users to yiff anonymously with other furries in real-time.">
    <meta name="keywords" content="Furries, Furry, Yiff, Chat, Online, Random, Anonymously">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= process.env.APP_TITLE %></title>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= process.env.GA_ID %>"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '<%= process.env.GA_ID %>');
    </script>
</head>
<body>
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
            	<button class="navbar-toggle collapsed" id="menu" type="button" aria-expanded="false">
            		<span class="sr-only">Toggle navigation</span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            	</button>
            	<a class="navbar-brand" href="/">Yiff Spot</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 sidebar" id="sidebar">
                <div class="logo">
                	<img src="/assets/logo.png" alt="Yiff Spot - Yiff With Random Furries">
                </div>

                <p class="text-center text-muted">
                	<span id="userCount">0</span> Users Online
                </p>

                <div id="userPrefs">
                    <form class="userSettings" id="userSettings" action="/" method="post" role="form">
                        <div class="row">
                            <div class="col-lg-12">
                            	<label>Your Gender</label>
                            	<select name="userGender" id="userGender"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                            	<label>Your Species</label>
                            	<select name="userSpecies" id="userSpecies"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                            	<label>Your Role</label>
                            	<select name="userRole" id="userRole"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                            	<label>Partner's Gender</label>
                            	<select name="partnerGender[]" id="partnerGender" multiple="multiple">
                            		<option value="any">Any / All</option>
                            	</select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                            	<label>Partner's Species</label>
                            	<select name="partnerSpecies[]" id="partnerSpecies" multiple="multiple">
                            		<option value="any">Any / All</option>
                            	</select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                            	<label>Partner's Role</label>
                            	<select name="partnerRole" id="partnerRole"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                            	<label>Kinks</label>
                            	<select name="userKinks[]" id="userKinks" multiple="multiple">
                            		<option value="any">Any / All</option>
                            	</select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="btn-group partner-actions">
                                	<button class="btn btn-primary btn-sm" type="submit">
                                		Find Partner
                                	</button>

                                	<button class="btn btn-danger btn-sm hide-ele" id="block-partner" type="submit">
                                		Block Partner
                                	</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="btn-group partner-actions">
                                	<button class="btn btn-default btn-sm" type="button" id="settings">
                                		Settings
                                	</button>
                                	<button class="btn btn-default btn-sm" type="button" id="savePref">
                                		Save Preferences
                                	</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="userSettings hide-ele" id="siteSettings">
                    <div class="row">
                        <div class="col-lg-12">
                        	<label>Theme</label>
                        	<select class="form-control" name="siteTheme" id="siteTheme">
                        		<option value="light">Light</option>
                        		<option value="dark">Dark</option>
                        	</select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="btn-group partner-actions">
                            	<button class="btn btn-default btn-sm" type="button" id="preferences">
                            		Preferences
                            	</button>
                            	<button class="btn btn-default btn-sm" type="button" id="saveSettings">
                            		Save Settings
                            	</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row credit">
                    <div class="col-lg-12 text-muted">
                        <p>Created by <a href="https://twitter.com/KisukaKiza" target="_blank">@KisukaKiza</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="welcome">
            <div class="col-sm-offset-4 col-lg-offset-2 col-lg-10">
                <h3>Welcome to Yiff Spot</h3>
                <p>On Yiff Spot you are able to yiff one-on-one with a random furry in real-time. Your yiffing partner is selected at random based on the preferences you set. You are kept completely anonymous unless you tell your partner who you are.</p>
                <p>To begin, set your preferences and click the "Find Partner" button.</p>
            </div>
        </div>
        <div class="row chat" id="chat">
            <div class="col-sm-offset-4 col-lg-offset-2 col-lg-10">
                <ul class="list-unstyled messages" id="messages">
                    <li class="typing message message-system" id="typing">Your partner is typing...</li>
                </ul>
                
                <form action="" id="messageBox" role="form">
                    <p>
                    	<input class="form-control" name="message" id="message" type="text" placeholder="Enter your message..." autocomplete="off" required="required">
                    </p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>